# ==========================================================
# Copyright (c) 2026 VelocityBots 
# All Rights Reserved.
#
# Project      : VelocityBots API Telegram Music Bot
# Powered By   : VelocityBots 
# Type         : API Based Telegram Music Bot
#
# Bot          : @MUSIC1_NOT_FREE_BOT
# Channel      : https://t.me/MUSIC_SUPPORT_69
# GitHub       : mgbnotfree-creator/MGB_NOT_FREE_MUSIC
#
# Unauthorized copying, modification, or redistribution
# of this source code without permission is prohibited.
# ==========================================================
aiohttp~=3.13.2
kurigram~=2.2.17
pillow~=12.0.0
psutil~=7.2.1
pymongo~=4.15.5
pytgcrypto~=1.2.11
py-tgcalls~=2.2.8
py-yt-search~=0.5.5
python-dotenv~=1.2.1
yt-dlp[default]>=2026.3.3
ffmpeg
